<section class="comment-area">
    <div class="comment-wrapper">
        {% if site.comments and site.comments_opts.comments_curtain %}
        <div class="row" id="comment-curtain">
            <div class="col-lg-8 col-sm-10 mr-auto ml-auto">
                <h2 class="page-subtitle">Comments</h2>
            </div>
        </div>
        {% endif %}

        
        {%if site.comments == 'disqus' and site.comments_opts.discus_identifier %}
            <div id="disqus_thread"></div>
            <script>
                (function () {
                    var d = document, s = d.createElement('script');
                    s.src = 'https://thinkingmodel-github-io.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            
        {% endif %}
    </div>
</section> <!-- End Comment Area -->